@font-face {
  font-family: "pokemon_solid";
  src: url(./fonts/PokemonSolid.ttf);
}
@font-face {
  font-family: "pokemon_classic";
  src: url(./fonts/PokemonClassic.ttf);
}
@font-face {
  font-family: "pokemon_hollow";
  src: url(./fonts/PokemonHollow.ttf);
}

:root {
  --pokemonLightRed: #ff0000;
  --pokemonDarkRed: #cc0000;
  --pokemonBlue: #3b4cca;
  --pokemonYellow: #ffde00;
  --pokemonDarkYellow: #b3a125;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto;
  gap: 2rem;
  background-image: url(./img/pikachu.png);
  background-position: center;
  background-size: contain;
}
h1,
h2 {
  font-family: "pokemon_solid";
  color: var(--pokemonYellow);
  letter-spacing: 5px;
  -webkit-text-stroke: 2px var(--pokemonBlue);
  text-shadow: 1px 1px black;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-family: "pokemon_classic";
}
.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 0.4rem;
  border-radius: 10px;
  border: none;
  font-family: "pokemon_classic";
  cursor: pointer;
  background-color: rgb(233, 233, 233);
  box-shadow: 3px 3px rgb(50, 50, 50);
}
button:hover {
  background-color: var(--pokemonBlue);
  color: #fff;
  transition: 0.3s;
}

.sectionInput {
  gap: 2rem;
}
#buttonsWrapper {
  flex-direction: row;
  flex-wrap: wrap;
  width: 40rem;
  justify-content: center;
  gap: 0.5rem;
}
input {
  padding: 0.6rem;
  border-radius: 10px;
  border: 5px solid var(--pokemonLightRed);
  font-family: "pokemon_classic";
  box-shadow: 3px 3px rgb(50, 50, 50);
}
.cardDiv {
  border: 2px solid var(--pokemonBlue);
  border-radius: 1rem;
  width: 16rem;
  height: 18rem;
  padding: 0.8rem;
  background-color: rgb(255, 255, 255);

  box-shadow: 3px 3px rgb(50, 50, 50);
}
.cardId {
  font-size: 0.8rem;
  width: 100%;

  margin-top: 10px;
}
.cardName {
  font-size: 1.5rem;
  width: 100%;

  margin-top: 10px;
}
.singleCardType {
  width: 100%;
}
.cardType {
  width: 100%;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.4rem;
  box-shadow: 2px 2px rgb(50, 50, 50);
}
#cardsWrapper {
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60rem;
  margin-top: 6rem;
  padding-bottom: 10rem;
  position: relative;
}
.pokedex {
  background-image: url(../src/img/Pokedex.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  width: 36rem;
  height: 27rem;
  position: relative;
}
.pokedex :nth-child(1) {
  position: absolute;
  top: 10rem;
  right: 23rem;
}
.pokedex :nth-child(2) {
  position: absolute;
  top: 10.2rem;
  right: 11rem;
  color: white;
}
.pokedex :nth-child(3) {
  position: absolute;
  top: 11.5rem;
  right: 5.5rem;
  color: white;
}

.toTop {
  position: fixed;
  right: 7rem;
  bottom: 41.5rem;
  width: 5rem;
  text-decoration: none;
  font-family: "pokemon_classic";
}
.toTop img {
  width: 100%;
}
